/* Custom Stylesheet */

/*  #112237 */

/* c02a43 */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #f1f1f1, #ffffff);
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 400;
}

.logo-custom {
  color: #c02a43 !important;
}

.bracket {
  font-size: 45px !important;
}

.blue-grey.darken-4 {
  background-color: #112237 !important;
}

.secondary-color {
  background-color: #c02a43 !important;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* Blog style */

/* Blog style */

#blog-post-full .blog-post-full-cat {
  right: 0;
}

.blog-head {
  height: 50vh;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(59, 83, 113, 0.9), rgba(17, 34, 55, 0.8)), url(../img/pexels-photo-459225.jpeg);
  clip-path: polygon(50% 100%, 100% 70%, 100% 0, 0 0, 0 70%);
  background-position: center;
}

.blog-head h1 {
  margin: 0;
  color: #bdbdbd;
  vertical-align: middle;
  top: 34%;
  position: relative;
}

.blog_card {
  position: relative;
  display: block;
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}

.blog_card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  transition: all 0.4s;
}

.blog_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}

.blog_card .info_section .blog_header {
  position: relative;
  padding: 25px;
  height: 40%;
}

.blog_card .info_section .blog_header p {
  color: #fff;
  font-weight: 400;
}

.blog_card .info_section .blog_header p {
  color: #c02a43;
  font-weight: 400;
}

.blog_card .info_section .blog_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.blog_card .info_section .blog_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}

.blog_card .info_section .blog_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  width: 70px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 38px;
}

.blog_card .info_section .blog_desc {
  padding: 25px;
  height: 50%;
}

.blog_card .info_section .blog_desc .text {
  color: #cfd6e1;
}

.blog_card .info_section .blog_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}

.blog_card .info_section .blog_social ul {
  list-style: none;
  padding: 0;
}

.blog_card .info_section .blog_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}

.blog_card .info_section .blog_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}

.blog_card .info_section .blog_social ul li i {
  font-size: 19px;
  cursor: pointer;
}

.blog_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: contain;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .blog_header {
    width: 60%;
  }
  .blog_desc {
    width: 50%;
  }
  .info_section {
    background: linear-gradient(to right, #112237 50%, transparent 100%);
  }
  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .blog_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }
  .blog_header {
    width: 100%;
    margin-top: 85px;
  }
  .blog_desc {
    width: 100%;
  }
  .info_section {
    background: linear-gradient(to top, #112237 50%, transparent 100%);
    display: inline-grid;
  }
}

.bright_back {
  background-image: url("../img/email-marketing-2362038_640.png");
}

/* .blog-head .typewrite {
  display: inline-block;
  padding: 2em 2em !important;
}

.blog-head .typewrite span {
  text-align: center;
  font-size: 3em;
  color: #fff;
} */

/* Landing page */

.card-rounded {
  padding: 5px;
  margin: 0.2rem 0 2rem 0;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  background-color: #fff;
}

/* Side nav */

.sidenav-header {
  /* background: url("../img/user.jpg") no-repeat center center; */
  background-size: cover;
  margin-bottom: 0px;
  padding: 15px 0 0 15px;
}

.sidenav-header .row {
  margin-bottom: 0;
}

#nav-mobile {
  z-index: 11111;
}

.designation {
  padding: 0 !important;
  color: #fff;
  margin: 0;
}

/*
  Home page style
*/

/* Intro section style */

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

.intro {
  width: 100%;
  min-height: 93vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.intro .animated-bar {
  width: 0;
  height: 3px;
  background: #fff;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bar 5s 3 linear;
  animation: bar 5s 3 linear;
}

.intro .slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  overflow: hidden;
}

.intro .slide.slide-a {
  background: linear-gradient(to bottom, #112237, #050c13);
  ;
  z-index: 400;
}

.intro .slide.slide-a .slide-a-child {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s;
}

.intro .slide.slide-a .slide-a-child.is-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.intro .slide.slide-a p {
  font-size: 25px;
}

.intro .slide.slide-b {
  background: linear-gradient(to bottom, #112237, #050c13);
  color: #fff;
  z-index: 300;
}

.intro .slide.slide-b h2 {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.intro .slide.slide-b p:first-of-type {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  margin-bottom: 20px;
}

.intro .slide.slide-b p:last-of-type {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.intro .slide.slide-b .slide-b-child {
  transition: all 1s;
  opacity: 0;
}

.intro .slide.slide-b .slide-b-child.is-visible {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.intro .slide.slide-c {
  background: linear-gradient(to bottom, #112237, #050c13);
  color: #fff;
  z-index: 200;
}

.intro .slide.slide-c .slide-c-child {
  transition: all 1s cubic-bezier(0.25, 0.25, 0.23, 1.405);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.intro .slide.slide-c .slide-c-child.is-visible {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.intro .slide.slide-d {
  background: linear-gradient(to bottom, #112237, #050c13);
  z-index: 100;
}

.intro .slide.slide-d .slide-d-child {
  transition: all 1s;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.intro .slide.slide-d .slide-d-child.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.intro .slide.slide-d button.slide-d-child {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.intro .slide .slide-content {
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.intro .slide .slide-content h1 {
  font-size: 70px;
  font-weight: 400;
  margin: 20px 0;
}

.intro .slide .slide-content h2 {
  font-size: 60px;
  font-weight: 400;
  margin: 20px 0;
}

.intro .slide .slide-content p {
  font-size: 25px;
  font-weight: 300;
}

.intro .slide .slide-content p a {
  color: #b6483d;
  text-decoration: none;
  position: relative;
}

.intro .slide .slide-content p a:hover::after {
  width: 80px;
}

.intro .slide .slide-content p a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #b6483d;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.5s;
}

.intro .slide .slide-content ul li {
  display: inline-block;
}

.intro .slide .slide-content ul li p {
  position: relative;
}

.intro .slide .slide-content ul li p::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  display: inline-block;
  margin: 0 20px;
  border-radius: 50%;
}

.intro .slide .slide-content ul li:last-of-type p::after {
  display: none;
}

.intro .slide .slide-content button {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border: none;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background: #c02a43;
  margin-top: 30px;
  border: 2px solid transparent;
  transition: all 0.5;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s;
}

.intro .slide .slide-content button:hover {
  background: none;
  border: 2px solid #c02a43;
  color: #c02a43;
}

@-webkit-keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 50px !important;
  }
  h2 {
    font-size: 45px !important;
  }
  p {
    font-size: 22px !important;
  }
  p a:hover::after {
    width: 160px !important;
  }
}

@media (max-width: 768px) {
  .slide-c-child {
    display: block !important;
  }
  p::after {
    display: none !important;
  }
  button.replay {
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
    font-size: 14px !important;
  }
  a:hover::after {
    width: 140px !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 33px !important;
  }
  p {
    font-size: 18px !important;
  }
  p a:hover::after {
    width: 130px !important;
  }
}

/* Timeline style */

.timeline {
  position: relative;
  color: #FFFFFF;
}

.timeline::before {
  content: '';
  background: rgba(17, 34, 55, 0.602);
  width: 5px;
  color: #FFFFFF;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 10px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -14px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #112237 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: linear-gradient(to bottom, #112237, #050c13);
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -14px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #112237;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #112237;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1458530970867-aaa3700e966d") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1471479917193-f00955256257") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(8) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(10) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1447639703758-f525f36456bf") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(11) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1469429978400-082eec725ad5") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
} */

.date {
  background: #c02a43;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -14px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #112237 transparent transparent;
  }
}

/* Skill Progress Bar */

.skill-wrapper {
  background: linear-gradient(to bottom, #112237, #050c13);
  padding-top: 50px;
  padding-bottom: 15px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.wrapper {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  color: #fff;
}

.skill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.skill>p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.skill:before {
  width: 100%;
  height: 19px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 19px;
  display: block;
  position: relative;
}

/* SKILL 1 */

.skill1 {
  width: 95%;
  background: #e44c2b;
}

.skill-bar span {
  position: absolute;
  /* border-top: 5px solid #f4392f; */
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  right: 0;
}

/* SKILL 2 */

.skill2 {
  width: 85%;
  background: #54aadf;
}

.skill2 .skill-count2 {
  right: 0;
}

/* SKILL 3 */

.skill3 {
  width: 75%;
  background: #ffeb00;
}

.skill3 .skill-count3 {
  right: 0;
}

/* SKILL 4 */

.skill4 {
  width: 65%;
  background: #df2e31;
}

.skill4 .skill-count4 {
  right: 0;
}

/* SKILL 5 */

.skill5 {
  width: 80%;
  background: #bb1600;
}

.skill5 .skill-count5 {
  right: 0;
}

/* SKILL 6 */

.skill6 {
  width: 90%;
  background: #cb2827;
}

.skill6 .skill-count6 {
  right: 0;
}

/* SKILL 7 */

.skill7 {
  width: 90%;
  background: #e48d1f;
}

.skill7 .skill-count7 {
  right: 0;
}

/* SKILL 8 */

.skill8 {
  width: 90%;
  background: #336790;
}

.skill8 .skill-count8 {
  right: 0;
}

/* Footer style */

footer {
  background: linear-gradient(to bottom, #112237, #050c13);
}

.connect-link {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.connect-text {
  top: -2px;
  position: relative;
  margin-left: 10px;
}

.github {
  display: inline-block;
  border: 2px solid;
  border-radius: 40px;
  margin-bottom: 10px;
}

.github:hover {
  border-color: #2d8600;
  background: #000000;
}

.twitter {
  display: inline-block;
  border: 2px solid;
  border-radius: 40px;
  margin-bottom: 10px;
}

.twitter:hover {
  border-color: #52a2f2;
  background: #000000;
}

.linkedin {
  display: inline-block;
  border: 2px solid;
  border-radius: 40px;
  margin-bottom: 10px;
}

.linkedin:hover {
  border-color: #3974b3;
  background: #000000;
}

.facebook {
  display: inline-block;
  border: 2px solid;
  border-radius: 40px;
  margin-bottom: 10px;
}

.facebook:hover {
  border-color: #4867aa;
  background: #000000;
}

.instagram {
  display: inline-block;
  border: 2px solid;
  border-radius: 40px;
  margin-bottom: 10px;
}

.instagram:hover {
  border-color: #e00086;
  background: #000000;
}

/* Contact Form */

.contact-wrapper {
  background: linear-gradient(to bottom, #112237, #050c13);
  color: #fff;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.contact-head {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(59, 83, 113, 0.9), rgba(17, 34, 55, 0.8)), url(../img/keyboard-1905883_1280.jpg);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 30vh;
  background-position: right;
}

.contact-head h3 {
  margin: 0;
  color: #fff;
  position: relative;
  top: 35%;
}

textarea.materialize-textarea {
  height: 8rem;
}

.input-field label {
  color: rgb(255, 255, 255) !important;
}

/* label focus color */

.input-field input[type=text]:focus+label {
  color: rgb(255, 255, 255) !important;
}

/* label focus color */

.input-field input[type=emai]:focus+label {
  color: #000 !important;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #c02a43 !important;
  box-shadow: 0 1px 0 0 #c02a43 !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #c02a43 !important;
  box-shadow: 0 1px 0 0 #c02a43 !important;
}

/* label underline focus color */

.input-field textarea:focus {
  border-bottom: 1px solid #c02a43 !important;
  box-shadow: 0 1px 0 0 #c02a43 !important;
}

#contactBtn {
  margin-right: 10px;
  background: #c02a43;
}

/* Map style */
.map-wrapper {
  width: 100%;
  height: 370px;
}

/* freedom style */
.countdown-container {
  height: 200px;
  margin-top: 40px;
  padding: 10px;
  background-color: #102137;
}
#countdown {
  text-align: center;
  color: white;
  vertical-align: middle;
  font-size: 6em;
}
#days {
  /* color: #52a2f2; */
}
